.header {
	background: $blue;
	width: 100%;
	height: 80px;
	text-align: center;
	border-bottom: 2px solid #fff;
}

@media screen and (max-width: 1024px) {
	.header {
		padding: 0px 10px 20px 10px;
	}
}
