.container {
  display: flex;
  width: $desktop;
  margin: 0 auto;
}

.counter {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
}

.title {
  margin: 0;
}

.episodeContainer {
  width: 76%;
}

.episodeList {
  list-style: none;
  margin: 20px 0 0;
  padding: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.episodeRow {
  color: $blue;
  display: flex;
  padding: 10px;
  background-color: #eee;
  cursor: pointer;
  border-bottom: 1px solid #ccc;

  &:nth-child(odd) {
    background-color: #fff;
  }
  &:first-child {
    color: #000;
    border-bottom: 2px solid #ccc;
  }

  span {
    width: 10%;
    text-align: left;
  }

  span:first-child {
    width: 80%;
  }
}
