.podcastContainer {
  width: 22%;
  margin-bottom: 140px;
  margin-right: 4%;
  min-height: 146px;
}

.podcastContainer:nth-child(4n + 4) {
  margin-right: 0;
}

.podcastContainer {
  position: relative;
  &:hover {
    cursor: pointer;
  }

  .podcastContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 100px;
    width: 100%;
  }

  img {
    position: absolute;
    top: -60px;
    left: 55px;
    width: 150px;
  }
}

.author,
.title {
  padding: 0 10px 8px;
  margin: 0;
  font-size: 14px;
  display: block;
}

.author {
  color: #666;
  font-style: italic;
  font-size: 12px;
}

.title {
  text-transform: uppercase;
}

.podcastAvatar {
  border-radius: 50%;
}

.podcastItem {
  display: flex;
  flex-direction: column;

  .podcastAvatar {
    border-radius: 5px;
  }

  .imageLink {
    text-align: center;
  }

  .containerTitle {
    padding: 20px 0;
    border-bottom: 1px solid $borderGrey;
    margin: 20px 0;
    border-top: 1px solid $borderGrey;
  }

  .descriptionTitle {
    font-size: 12px;
    margin-bottom: 6px;
  }
  .descriptionText {
    color: #666;
    font-style: italic;
    font-size: 12px;
  }
}
