// Third-party imports

// Global imports

// Local imports

////////////////////////////////////////////////////////////////////////////////

.footer {
	height: 80px;
	background-color: $blue;
	width: 100%;
	text-align: center;
	border-top: 2px solid #fff;
}
